.sticky {
	display: block;
}

.post {
	@extend .my-5;
}

.page {
	margin: 0 0 0;
}

.entry-meta {
	span {
		font-size: smaller;
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.more-link {
	@extend .btn;
	@extend .btn-mono-g;
}